@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  max-width: 100vw;

  background-image: url(./img/sky.png);
  background-size: contain;

  animation: moveSky 15s linear infinite;
}

@keyframes moveSky {
  0% {
    background-position: 0 -50vh;
  }
  50% {
    background-position: 0 0;
  }
  100% {
      background-position: 0 50vh;
  }
}

.asteroid {
  height: 53px;
  width: 70px;
  
  position: absolute;
  left: 50%;

  background-image: url(./img/asteroid.png);
  background-size: cover;
  background-repeat: no-repeat;

  animation: fall 2s linear;
}

.rocket {
  width: 64px;
  height: 138px;

  transition: .8s;
  position: absolute;
  bottom: 50%;
  left: 50%;

  background-image: url(./img/rocket.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes fall {
  0% {
    top: 0%
  }
  100% {
    top: 100%;
  }
}