@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  z-index: 1;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Gemunu Libre', sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#container {
  z-index: 0;
  height: 100%;
  max-width: 100vw;

  background-image: url(./img/sky.png);
  background-size: contain;
}

@keyframes moveSky {
  0% {
    background-position: 0 -50vh;
  }
  50% {
    background-position: 0 0;
  }
  100% {
      background-position: 0 50vh;
  }
}

.asteroid {
  height: 53px;
  width: 70px;
  
  position: absolute;
  left: 50%;

  background-image: url(./img/asteroid.png);
  background-size: cover;
  background-repeat: no-repeat;

  animation: fall linear;
}

.rocket {
  width: 65px;
  height: 138px;

  transition: .8s;
  position: absolute;
  bottom: 50%;
  left: 50%;

  background-image: url(./img/rocket.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.score {
  position: absolute;
  right: 0%;

  padding: 8px 14px;
  font-size: 2rem;

  font-weight: 600;
  opacity: 0;
}

div.hearts {
  position: absolute;
  padding: 10px;

  display: flex;
  gap: 4px;
}

.heart {
  height: 35px;
  width: 35px;

  background-image: url(./img/heart.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.powerUp {
  width: 50px;
  height: 50px;

  animation: fall linear;
  position: absolute;
}

.start, 
.gameOver {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;

  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 32px;
}

.start .text {
  width: 55vw;
  height: 20vh;
}
.gameOver .text {
  width: 50vw;
  height: 50vh;
}

.buttonDiv {
  display: flex;
  align-items: center;

  height: fit-content;
}
button {
  width: 100px;
  height: 100px;

  background-image: url(./img/playButton.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fall {
  0% {
    top: 0%
  }
  100% {
    top: 100%;
  }
}

/* Power Ups */
.shield {
  animation: shield 8s linear infinite;
}

@keyframes shield {
  10% {
    filter: sepia(80%) hue-rotate(190deg) saturate(500%) grayscale(0.6);
  }
  90% {
    filter: sepia(80%) hue-rotate(190deg) saturate(200%) grayscale(0.3);
  }
  100% {
    filter: none;
  }
}